* {
  /* outline: 1px solid #f00; */
}
html::before {
  /* content: " ";
  display: block;
  background-image: url(../img/bear.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; */
}
body {
  margin: 0;
  padding: 0;
  height: 3000px;
}
header,
article {
  width: calc(100% - 60px);
  max-width: 300px;
  margin: 0 auto;
  padding: 250px 0;
}
section {
  padding: 30px;
  border: 1px solid #999;
  margin-bottom: 500px;
  background-color: #fff;
}
h1,
p {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, “Segoe UI”, Helvetica, Arial, sans-serif;
}
p {
  font-size: .8rem;
  line-height: 1.5;
}
.bg-img {
  /* content: ""; */
  background-image: url(../img/illo-01.svg);
  /* background-position: -800px -1500px; */
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: auto; */
  /* height: 100vh; */
  /* width: 100vw; */
}

.pos-0 {
  background-position: -750px -700px;
  transition: background-position 1.5s ease-in-out 0s;
}
.pos-1 {
  background-position: -2700px -1200px;
  transition: background-position 1.5s ease-in-out 0s;
}
.pos-2 {
  background-position: -1600px -2300px;
  transition: background-position 1.5s ease-in-out 0s;
}
.pos-3 {
  background-position: -200px -600px;
  transition: background-position 1.5s ease-in-out 0s;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .bg-img {
    background-size: 400%;
  }
  .pos-0 {
    background-position: -325px -350px;
    transition: background-position 1.5s ease-in-out 0s;
  }
  .pos-1 {
    background-position: -1350px -600px;
    transition: background-position 1.5s ease-in-out 0s;
  }
  .pos-2 {
    background-position: -800px -1150px;
    transition: background-position 1.5s ease-in-out 0s;
  }
  .pos-3 {
    background-position: -100px -300px;
    transition: background-position 1.5s ease-in-out 0s;
  }

}
